@charset "UTF-8";
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  /* Header */
  /* Bas de page */
}

body img {
  vertical-align: middle;
}

body header {
  color: white;
  /* Navigation */
}

body header section {
  text-align: center;
  position: relative;
}

body header section img {
  width: 100%;
}

body header section .la-chevron-left {
  font-size: 75px;
  color: white;
  position: absolute;
  top: 50%;
  left: 30px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

body header section .la-chevron-right {
  font-size: 75px;
  color: white;
  position: absolute;
  top: 50%;
  right: 30px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

body header section div {
  position: absolute;
  left: 50%;
}

body header section div:first-of-type {
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body header section div:first-of-type .la-globe {
  font-weight: 700;
  font-size: 135px;
  color: gainsboro;
  -webkit-animation: tourne 15s linear infinite, couleur 5s infinite;
          animation: tourne 15s linear infinite, couleur 5s infinite;
}

@-webkit-keyframes tourne {
  from {
    /* IE 9 */
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
    /* Standard syntax */
  }
  to {
    /* IE 9 */
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
    /* Standard syntax */
  }
}

@keyframes tourne {
  from {
    /* IE 9 */
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
    /* Standard syntax */
  }
  to {
    /* IE 9 */
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
    /* Standard syntax */
  }
}

@-webkit-keyframes couleur {
  0% {
    color: red;
  }
  33% {
    color: green;
  }
  66% {
    color: blue;
  }
  100% {
    color: red;
  }
}

@keyframes couleur {
  0% {
    color: red;
  }
  33% {
    color: green;
  }
  66% {
    color: blue;
  }
  100% {
    color: red;
  }
}

body header section div:first-of-type > h1,
body header section div:first-of-type > h2,
body header section div:first-of-type > a {
  display: none;
}

@media screen and (min-width: 1200px) {
  body header section div:first-of-type > h1,
  body header section div:first-of-type > h2,
  body header section div:first-of-type > a {
    display: inherit;
  }
  body header section div:first-of-type > h1 {
    font-size: 4rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
  body header section div:first-of-type > h2 {
    font-size: 1rem;
    font-weight: lighter;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
  body header section div:first-of-type > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: #0fcabf;
    padding: 8px;
    width: 20%;
    margin: auto;
  }
}

body header section div + div {
  bottom: 8px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: gainsboro;
}

body header nav {
  background-color: #0fcabf;
  padding: 36px;
}

body header nav h1 {
  font-family: 'Paytone One', sans-serif;
  text-align: center;
  text-transform: uppercase;
}

body header nav ul {
  display: none;
}

@media screen and (min-width: 768px) {
  body header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 50px 70px 0 70px;
    padding: 0px;
  }
  body header nav ul li {
    list-style: none;
  }
  body header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
  }
  body header nav ul li:first-child a {
    color: black;
  }
}

body header nav select {
  /* margin:auto; */
  width: 100%;
  height: 30px;
  border: none;
}

@media screen and (min-width: 768px) {
  body header nav select {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  body header nav {
    padding-left: 10%;
    padding-right: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  body header nav h1 {
    width: 50%;
    text-align: left;
  }
  body header nav ul {
    width: 50%;
    margin: auto;
  }
}

body > a {
  position: -webkit-sticky;
  position: sticky;
  top: 95%;
  left: 93%;
  z-index: 1;
}

body > a .la-angle-double-up {
  font-size: 4rem;
  text-decoration: none;
  color: rgba(128, 128, 128, 0.534);
  border: 1px solid rgba(128, 128, 128, 0.534);
  border-radius: 7px;
}

body > a .la-angle-double-up:hover {
  -webkit-box-shadow: 0 0 10px rgba(128, 128, 128, 0.534);
          box-shadow: 0 0 10px rgba(128, 128, 128, 0.534);
}

body main section {
  /* page About us */
  text-align: center;
  padding: 36px;
  /* Page Why choose us */
  /* Page Robert Adams */
  /* Services */
  /* Page Our news */
  /* Page contacts */
}

body main section h1 {
  color: rgba(0, 0, 0, 0.8);
  font-size: 2rem;
}

body main section h2 {
  color: rgba(0, 0, 0, 0.4);
  font-size: 1.4rem;
  font-weight: 500;
}

body main section > div article {
  text-align: left;
  color: rgba(0, 0, 0, 0.4);
  font-size: 1rem;
}

body main section > div article p {
  position: relative;
}

body main section > div article p::before {
  /* pseudo element placé avant le texte dans h1 */
  content: '';
  /* proprété obligatoire */
  width: 3px;
  height: 100%;
  position: absolute;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0fcafb), to(white));
  background-image: linear-gradient(#0fcafb, white);
  left: -8px;
}

body main section > div article p > a {
  color: #0fcabf;
  text-decoration: none;
}

body main section > div aside .bar {
  width: 100%;
  margin-bottom: 10px;
  background: linear-gradient(-45deg, #e7e7e7 25%, #efefef 25%, #efefef 50%, #e7e7e7 50%, #e7e7e7 75%, #efefef 75%, #efefef);
  background-size: 10px 10px;
  /* ou alors background: repeating-linear-gradient(45deg, #3f87a6, #ebf8e1 15%, #f69d3c 20%); */
}

body main section > div aside .bar .jaune,
body main section > div aside .bar .orange,
body main section > div aside .bar .bleu {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* On  peut aussi utiliser la fonction calc(X%, Ypx) 
                        voir*/
}

body main section > div aside .bar .jaune p,
body main section > div aside .bar .orange p,
body main section > div aside .bar .bleu p {
  text-align: center;
  color: white;
  font-weight: 800;
  font-size: 1rem;
  text-transform: uppercase;
}

body main section > div aside .bar .jaune p span,
body main section > div aside .bar .orange p span,
body main section > div aside .bar .bleu p span {
  display: none;
}

@media screen and (min-width: 1200px) {
  body main section > div aside .bar .jaune p,
  body main section > div aside .bar .orange p,
  body main section > div aside .bar .bleu p {
    text-align: left;
    padding-left: 15px;
  }
  body main section > div aside .bar .jaune p span,
  body main section > div aside .bar .orange p span,
  body main section > div aside .bar .bleu p span {
    display: inline;
  }
}

body main section > div aside .bar .jaune {
  width: 54%;
  /* au lieu d'utiliser box-sizing */
  /* calc(54%) - 10% */
  background-color: rgba(245, 207, 86, 0.8);
}

body main section > div aside .bar .orange {
  width: 73%;
  background-color: rgba(252, 140, 50, 0.8);
}

body main section > div aside .bar .bleu {
  width: 87%;
  background-color: rgba(88, 206, 232, 0.8);
}

@media screen and (min-width: 768px) {
  body main section:first-of-type > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body main section:first-of-type > div article {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  body main section:first-of-type > div article p {
    margin-right: 16px;
  }
  body main section:first-of-type > div aside {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

body main section:nth-of-type(2) {
  padding: 36px 36px 0 36px;
  background-image: url("../images/parallax_01.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body main section:nth-of-type(2) img {
  width: 100%;
}

body main section:nth-of-type(2) h1 {
  color: white;
}

body main section:nth-of-type(2) h2 {
  color: white;
  font-weight: 500;
  padding-bottom: 75px;
}

@media screen and (min-width: 1200px) {
  body main section:nth-of-type(2) {
    height: 100vh;
    position: relative;
  }
  body main section:nth-of-type(2) h1,
  body main section:nth-of-type(2) h2 {
    display: none;
  }
  body main section:nth-of-type(2) img {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 1020px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

body main section:nth-of-type(3) {
  padding: 72px 36px 36px 36px;
  background-color: #333333;
}

body main section:nth-of-type(3) div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 15% 0 15%;
}

@media screen and (min-width: 1200px) {
  body main section:nth-of-type(3) div {
    padding: 0 40% 0 40%;
  }
}

body main section:nth-of-type(3) div img {
  border-radius: 50%;
}

body main section:nth-of-type(3) blockquote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body main section:nth-of-type(3) blockquote p {
  color: #909090;
  text-align: left;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

body main section:nth-of-type(3) blockquote > footer {
  color: #0fcabf;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: left;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media screen and (min-width: 768px) {
  body main section:nth-of-type(3) blockquote {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    margin-left: 0;
    margin-right: 0;
  }
  body main section:nth-of-type(3) blockquote footer {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-top: 16px;
  }
  body main section:nth-of-type(3) blockquote p {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    border-left: 4px solid rgba(255, 255, 255, 0.1);
    padding-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  body main section:nth-of-type(3) blockquote {
    padding-left: 10%;
    padding-right: 10%;
  }
}

body main section:nth-of-type(4) {
  padding: 72px 36px 72px 36px;
}

@media screen and (min-width: 768px) {
  body main section:nth-of-type(4) > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body main section:nth-of-type(4) > div article {
    width: 22%;
  }
}

@media screen and (min-width: 1200px) {
  body main section:nth-of-type(4) {
    padding-left: 10%;
    padding-right: 10%;
  }
}

body main section:nth-of-type(4) article {
  text-align: center;
}

body main section:nth-of-type(4) article h1 {
  font-size: 1.1rem;
  text-transform: uppercase;
}

body main section:nth-of-type(4) article .la-magic,
body main section:nth-of-type(4) article .la-cog,
body main section:nth-of-type(4) article .la-headset,
body main section:nth-of-type(4) article .la-volume-up {
  color: rgba(0, 0, 0, 0.8);
  font-size: 3rem;
}

body main section:nth-of-type(4) article a {
  text-decoration: none;
}

body main section:nth-of-type(5) {
  background-color: #f7f7f7;
  padding: 72px 36px 0 36px;
}

body main section:nth-of-type(5) h3 {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 600;
}

body main section:nth-of-type(5) p {
  text-align: left;
}

body main section:nth-of-type(5) time {
  color: #0fcabf;
  font-weight: 600;
}

body main section:nth-of-type(5) img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  body main section:nth-of-type(5) div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body main section:nth-of-type(5) div article {
    width: 31%;
  }
}

@media screen and (min-width: 1200px) {
  body main section:nth-of-type(5) {
    padding-left: 10%;
    padding-right: 10%;
  }
}

body main section:nth-of-type(6) {
  background-color: #0fcabf;
}

body main section:nth-of-type(6) h1 {
  color: white;
}

body main section:nth-of-type(6) label {
  margin-top: 2px;
  margin-bottom: 2px;
}

body main section:nth-of-type(6) input,
body main section:nth-of-type(6) textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  border: none;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 20px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.4);
}

body main section:nth-of-type(6) button {
  border: none;
  background-color: #217e79;
  color: white;
  width: 100%;
  height: 4rem;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 900;
  margin-top: 2px;
  margin-bottom: 50px;
}

body main section:nth-of-type(6) form div:nth-child(4) label {
  height: 7rem;
}

@media screen and (min-width: 768px) {
  body main section:nth-of-type(6) form {
    width: 60%;
    margin: auto;
  }
}

@media screen and (min-width: 1200px) {
  body main section {
    padding-left: 10%;
    padding-right: 10%;
  }
}

body > footer {
  padding: 36px 36px 36px 36px;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}

body > footer h1 {
  font-size: 1.5rem;
  font-weight: 900;
  text-transform: uppercase;
}

body > footer a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}

body > footer a[href*='facebook.com'] {
  color: #3b5998;
}

body > footer a[href*='twitter.com'] {
  color: #1da1f2;
}
/*# sourceMappingURL=styles-sass.css.map */