body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  /* Compense la ligne blanche en bas des images */
  /* Header ------------------------------------------------------------*/
  /* Bas de page */
  /*Header Vue tablette*/
  /*fin vue tablette*/
  /*Vue ordi*/
  /*Fin vue ordi*/
}

body img {
  vertical-align: middle;
}

body header {
  /* Navigation */
}

body header .diapo-black {
  color: rgba(0, 0, 0, 0.514);
  -webkit-transition: color 1s;
  transition: color 1s;
}

body header section {
  color: #e9e9e9;
  -webkit-transition: color 1s;
  transition: color 1s;
  text-align: center;
  position: relative;
}

body header section img {
  width: 100%;
}

body header section .la-chevron-left {
  position: absolute;
  top: 50%;
  left: 30px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 75px;
}

body header section .la-chevron-right {
  position: absolute;
  top: 50%;
  right: 30px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 75px;
}

body header section div {
  position: absolute;
  left: 50%;
}

body header section div:first-of-type {
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body header section div:first-of-type .la-globe {
  font-weight: 700;
  font-size: 135px;
  -webkit-animation: tourne 15s linear infinite;
          animation: tourne 15s linear infinite;
}

@-webkit-keyframes tourne {
  from {
    /* IE 9 */
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
    /* Standard syntax */
  }
  to {
    /* IE 9 */
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
    /* Standard syntax */
  }
}

@keyframes tourne {
  from {
    /* IE 9 */
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
    /* Standard syntax */
  }
  to {
    /* IE 9 */
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
    /* Standard syntax */
  }
}

body header section div:first-of-type > h1,
body header section div:first-of-type > h2,
body header section div:first-of-type > a {
  display: none;
}

body header section div + div {
  bottom: 8px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: gainsboro;
}

body header nav {
  color: white;
  background-color: #0fcabf;
  padding: 36px 72px 36px 72px;
  text-align: center;
}

body header nav h1 {
  font-family: 'Paytone One', sans-serif;
  font-size: 1.1rem;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

body header nav ul {
  display: none;
}

body header nav select {
  width: 100%;
  height: 30px;
  border: none;
}

body > a {
  position: fixed;
  top: 95%;
  left: 93%;
  z-index: 1;
}

body > a .la-angle-double-up {
  font-size: 4rem;
  text-decoration: none;
  color: rgba(128, 128, 128, 0.534);
  border: 1px solid rgba(128, 128, 128, 0.534);
  border-radius: 7px;
}

body > a .la-angle-double-up:hover {
  -webkit-box-shadow: 0 0 10px rgba(128, 128, 128, 0.534);
          box-shadow: 0 0 10px rgba(128, 128, 128, 0.534);
}

body main {
  /* page About us */
  /* Page Why choose us */
  /* Page Robert Adams */
  /* Services */
  /* Page Our news */
  /* Page contacts */
}

body main section:first-of-type {
  text-align: center;
  padding: 0 72px 72px 72px;
}

body main section:first-of-type h1 {
  color: rgba(0, 0, 0, 0.8);
  font-size: 2rem;
  margin-top: 0;
}

body main section:first-of-type h2 {
  color: rgba(0, 0, 0, 0.4);
  font-size: 1.4rem;
  font-weight: 500;
}

body main section:first-of-type > div article {
  text-align: left;
  color: rgba(0, 0, 0, 0.4);
  font-size: 1rem;
}

body main section:first-of-type > div article p {
  line-height: 1.5rem;
}

body main section:first-of-type > div article p > a {
  color: #0fcabf;
  text-decoration: none;
}

body main section:first-of-type > div aside .bar {
  width: 100%;
  margin-bottom: 10px;
  background: linear-gradient(-45deg, #e7e7e7 25%, #efefef 25%, #efefef 50%, #e7e7e7 50%, #e7e7e7 75%, #efefef 75%, #efefef);
  background-size: 10px 10px;
  /* ou alors background: repeating-linear-gradient(45deg, #3f87a6, #ebf8e1 15%, #f69d3c 20%); */
}

body main section:first-of-type > div aside .bar .jaune,
body main section:first-of-type > div aside .bar .orange,
body main section:first-of-type > div aside .bar .bleu {
  padding: 1px 0 1px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* On  peut aussi utiliser la fonction calc(X%, Ypx) 
                        voir*/
}

body main section:first-of-type > div aside .bar .jaune p,
body main section:first-of-type > div aside .bar .orange p,
body main section:first-of-type > div aside .bar .bleu p {
  text-align: center;
  color: white;
  font-weight: 800;
  font-size: 1rem;
  text-transform: uppercase;
}

body main section:first-of-type > div aside .bar .jaune p span,
body main section:first-of-type > div aside .bar .orange p span,
body main section:first-of-type > div aside .bar .bleu p span {
  display: none;
}

@media screen and (min-width: 1200px) {
  body main section:first-of-type > div aside .bar .jaune p,
  body main section:first-of-type > div aside .bar .orange p,
  body main section:first-of-type > div aside .bar .bleu p {
    text-align: left;
    padding-left: 15px;
  }
  body main section:first-of-type > div aside .bar .jaune p span,
  body main section:first-of-type > div aside .bar .orange p span,
  body main section:first-of-type > div aside .bar .bleu p span {
    display: inline;
  }
}

body main section:first-of-type > div aside .bar .jaune {
  width: 54%;
  /* au lieu d'utiliser box-sizing */
  /* calc(54%) - 10% */
  background-color: rgba(245, 207, 86, 0.8);
}

body main section:first-of-type > div aside .bar .orange {
  width: 73%;
  background-color: rgba(252, 140, 50, 0.8);
}

body main section:first-of-type > div aside .bar .bleu {
  width: 87%;
  background-color: rgba(88, 206, 232, 0.8);
}

body main section:nth-of-type(2) {
  padding: 72px 72px 0 72px;
  background-image: url("../images/parallax_01.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
}

body main section:nth-of-type(2) img {
  width: 100%;
}

body main section:nth-of-type(2) h1 {
  color: white;
}

body main section:nth-of-type(2) h2 {
  color: white;
  font-weight: 500;
  padding-bottom: 75px;
}

body main section:nth-of-type(3) {
  padding: 72px;
  background-color: #333333;
}

body main section:nth-of-type(3) div {
  text-align: center;
}

body main section:nth-of-type(3) div img {
  border-radius: 50%;
}

body main section:nth-of-type(3) blockquote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 40px 0 0 0;
}

body main section:nth-of-type(3) blockquote p {
  color: #909090;
  text-align: left;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  line-height: 1.5rem;
}

body main section:nth-of-type(3) blockquote > footer {
  color: #0fcabf;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: left;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

body main section:nth-of-type(4) {
  padding: 72px;
}

body main section:nth-of-type(4) article {
  text-align: center;
}

body main section:nth-of-type(4) article a {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}

body main section:nth-of-type(4) article a h1 {
  font-size: 1.1rem;
  text-transform: uppercase;
  padding: 10px;
}

body main section:nth-of-type(4) article a .la-magic,
body main section:nth-of-type(4) article a .la-cog,
body main section:nth-of-type(4) article a .la-headset,
body main section:nth-of-type(4) article a .la-volume-up {
  color: rgba(0, 0, 0, 0.8);
  font-size: 3rem;
  padding: 20px;
}

body main section:nth-of-type(4) article p {
  color: rgba(0, 0, 0, 0.4);
  line-height: 1.5rem;
}

body main section:nth-of-type(5) {
  background-color: #f7f7f7;
  padding: 72px;
}

body main section:nth-of-type(5) > h1 {
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}

body main section:nth-of-type(5) > h2 {
  margin: 20px 0 75px 0;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 100;
}

body main section:nth-of-type(5) div article {
  margin-bottom: 50px;
}

body main section:nth-of-type(5) div article h3 {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 600;
}

body main section:nth-of-type(5) div article p {
  text-align: left;
  line-height: 1.5rem;
  color: rgba(0, 0, 0, 0.4);
}

body main section:nth-of-type(5) div article p time {
  color: #0fcabf;
  font-weight: 600;
}

body main section:nth-of-type(5) div article img {
  width: 100%;
}

body main section:nth-of-type(6) {
  background-color: #0fcabf;
  padding: 72px;
}

body main section:nth-of-type(6) h1 {
  text-align: center;
  color: white;
  margin-bottom: 50px;
}

body main section:nth-of-type(6) form input, body main section:nth-of-type(6) form textarea, body main section:nth-of-type(6) form button {
  width: 100%;
  border: none;
  text-transform: uppercase;
}

body main section:nth-of-type(6) form input,
body main section:nth-of-type(6) form textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 20px;
  color: rgba(0, 0, 0, 0.4);
}

body main section:nth-of-type(6) form button {
  background-color: #217e79;
  color: white;
  height: 4rem;
  font-size: 0.9rem;
  font-weight: 900;
  margin-top: 2px;
}

body > footer {
  padding: 36px 72px 36px 72px;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}

body > footer > h1 {
  font-size: 1.5rem;
  font-weight: 900;
  text-transform: uppercase;
  font-family: 'Paytone One', sans-serif;
}

body > footer a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}

body > footer a[href*='facebook.com'] {
  color: #3b5998;
}

body > footer a[href*='twitter.com'] {
  color: #1da1f2;
}

@media screen and (min-width: 576px) {
  body header nav ul {
    display: block;
    padding: 0px;
  }
  body header nav ul li {
    display: inline;
    margin: 15px;
    list-style: none;
  }
  body header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
  }
  body header nav ul li:first-child a {
    color: black;
  }
  body header nav select {
    display: none;
  }
  body main {
    /* page About us */
    /*Why choose us*/
    /*Robert Adams*/
    /*Services*/
    /* Page Our news */
    /*Contact*/
  }
  body main section:first-of-type {
    padding: 10px;
  }
  body main section:first-of-type > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body main section:first-of-type > div article {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  body main section:first-of-type > div article p {
    margin-right: 16px;
    margin-top: 0;
  }
  body main section:first-of-type > div aside {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  body main section:nth-of-type(2) {
    padding-left: 10px;
    padding-right: 10px;
  }
  body main section:nth-of-type(2) h1,
  body main section:nth-of-type(2) h2 {
    display: none;
  }
  body main section:nth-of-type(3) {
    padding: 72px 10px 72px 10px;
  }
  body main section:nth-of-type(3) blockquote {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    margin-left: 0;
    margin-right: 0;
  }
  body main section:nth-of-type(3) blockquote footer {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-top: 16px;
  }
  body main section:nth-of-type(3) blockquote p {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    border-left: 4px solid rgba(255, 255, 255, 0.1);
    padding-left: 30px;
  }
  body main section:nth-of-type(4) {
    padding: 72px 10px 72px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body main section:nth-of-type(4) article {
    width: 22%;
  }
  body main section:nth-of-type(5) {
    padding: 72px 10px 72px 10px;
  }
  body main section:nth-of-type(5) div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body main section:nth-of-type(5) div article {
    width: 31%;
  }
  body main section:nth-of-type(6) form {
    width: 60%;
    margin: auto;
  }
}

@media screen and (min-width: 992px) {
  body header {
    height: 100vh;
  }
  body header section img {
    height: calc(100vh - 100px);
    -o-object-fit: cover;
       object-fit: cover;
  }
  body header section div:first-of-type > h1,
  body header section div:first-of-type > h2,
  body header section div:first-of-type > a {
    display: inherit;
  }
  body header section div:first-of-type > h1 {
    font-size: 4rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
  body header section div:first-of-type > h2 {
    font-size: 1rem;
    font-weight: lighter;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
  body header section div:first-of-type > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: #0fcabf;
    padding: 8px;
    width: 20%;
    margin: auto;
  }
  body header nav {
    height: 100px;
    padding: 0 10% 0 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100px;
  }
  body header nav h1 {
    width: 50%;
    text-align: left;
  }
  body header nav ul {
    width: 50%;
    margin: auto;
  }
  body main {
    /* page About us */
    /*Why choose us*/
    /*Robert Adams*/
    /*Services*/
    /* Page Our news */
    /*Contact*/
  }
  body main section:first-of-type {
    padding: 0 10% 0 10%;
  }
  body main section:nth-of-type(2) {
    height: 100vh;
    position: relative;
  }
  body main section:nth-of-type(2) img {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 80%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  body main section:nth-of-type(3) {
    padding: 72px 10% 72px 10%;
  }
  body main section:nth-of-type(4) {
    padding: 72px 10% 72px 10%;
  }
  body main section:nth-of-type(5) {
    padding: 72px 10% 72px 10%;
  }
  body main section:nth-of-type(6) form {
    width: 40%;
  }
}
/*# sourceMappingURL=styles-sass.css.map */