// $cyan:#0fcabf;
// $grisLogo :rgb(220, 220, 220);
// $noir08:rgba(0, 0, 0, 0.8);
// $noir04:rgba(0, 0, 0, 0.4);

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;

    /* Compense la ligne blanche en bas des images */
    img {
        vertical-align: middle;
    }

    header {

        section {
            text-align: center;
            position: relative;

            color: white;
            transition: color 1s;

            .diapo-black {
                color: black !important;
                transition: color 1s;
            }

            img {
                width: 100%;
            }

            /* Flèche gauche */
            .la-chevron-left {
                position: absolute;
                top: 50%;
                left: 10px;
                transform: translateY(-50%);
                font-size: 3em;
            }

            /* Flèche droite */
            .la-chevron-right {
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
                font-size: 3em;
            }

            div {

                h1,
                h2,
                a {
                    display: none;
                }

                &:first-of-type {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    .la-globe {
                        font-size: 200px;
                        animation: tourne 20s linear infinite, couleurs 15s infinite;
                        // opacity: 0.7;
                        // color: lightgrey !important;
                    }

                    /* Animation globe */
                    @keyframes tourne{
                        from {
                            /* on peu écrire 0% */
                            /* Etat initial: on n'a pas tourné */
                            transform: rotate(0);
                        }

                        to {
                            /* on peu écrire 100% */
                            /* Etat final : on a fait un tour complet */
                            transform: rotate(360deg);
                        }
                    }

                    @keyframes couleur{
                        0% {
                            color: red;
                        }

                        33% {
                            color: green;
                        }

                        66% {
                            color: blue;
                        }

                        100% {
                            color: red;
                        }
                    }


                }

                &:last-of-type {
                    position: absolute;
                    bottom: 20px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }

        }

        nav {
            color:white;
            background-color: #0fcabf;
            padding: 36px;
            text-align: center;

            h1 {
                font-family: "Paytone One", sans-serif;
                margin-top: 0;
                font-size: 1.5em;
            }

            select {
                height: 30px;
                width: 100%;
                border: none;
            }

            ul {
                display: none;
            }
        }
    }

    main {
        >section:first-of-type {
            text-align: center;
            padding: 36px;

            h1 {
                position: relative;
                display: inline-block;

                // &::before {
                //     /* Crée un pseudo élément avant le texte dans le H1 */
                //     content: '';
                //     width: 100%;
                //     height: 3px;
                //     position: absolute;
                //     bottom: 0;
                //     background-image: linear-gradient(to right, #0fcabf, white);
                // }
            }

            p {
                text-align: left;
                position: relative;

                // &::before {
                //     content: '';
                //     width: 3px;
                //     height: 100%;
                //     position: absolute;
                //     left: -10px;
                //     background-image: linear-gradient(to bottom, #0fcabf, white);
                // }
            }


            >div {
                aside {
                    .bar {
                        background: repeating-linear-gradient(45deg, white, lightgrey 1%);
                        margin-bottom: 10px;
                        color: white;
                        font-weight: bold;
                        text-transform: uppercase;

                        span {
                            display: none;
                        }

                        .jaune {
                            width: calc(54% - 20px);
                            /* Calcule les 54% en prenant en compte les 20px de padding*/
                            background-color: #f5ce55;
                        }

                        .orange {
                            width: calc(73% - 20px);
                            background-color: #fb8c32;
                        }

                        .bleu {
                            width: calc(87% - 20px);
                            background-color: #58cee8;
                        }

                        .jaune,
                        .bleu,
                        .orange {
                            padding: 10px;
                        }
                    }
                }
            }
        }

        >section:nth-of-type(2) {
            text-align: center;
            padding: 36px 36px 0 36px;
            padding-bottom: 0 !important;
            background: url('../images/parallax_01.jpg') center;
            background-size: cover;
            background-attachment: fixed;
            color: white;

            img {
                width: 100%;
            }
        }
    }

    footer {
        text-align: center;

        a[href*="facebook.com"] {
            font-size: 3em;
            color: #3b5998;
        }

        [href*="twitter.com"] {
            font-size: 3em;
            color: #00acee;
        }

    }


    /* Vue tablette */
    // @media screen and (min-width: 576px) {
    //     header {
    //         a {
    //             text-decoration: none;
    //             color: white;
    //             font-size: 1.2em;
    //             font-weight: bold;
    //         }
    //         nav {
    //             select {
    //                 display: none;
    //             }

    //             ul {
    //                 display: block;
    //                 padding: 0;
    //                 li {
    //                     margin: 15px;
    //                     display: inline;
    //                 }
    //             }
    //         }
    //     }
    // }

}